@import "../../../../../styles/_colors";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: $white;
  overflow-y: auto;
  overflow-x: hidden;

  .content {
    width: 80%;
    max-width: 800px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      margin: 0 15px 15px 15px;
    }

    form {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;

      .form-group {
        input,
        textarea {
          color: $white;
        }
      }

      button {
        color: $white;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  #universe {
    left: calc(0% - 400px);
  }
}
